<div class="height-100" [dir]="languageDirection">
  <mat-card fxLayout="row" class="login-container">
    <mat-card-title>
    </mat-card-title>
    <mat-card-subtitle>
    </mat-card-subtitle>

    <mat-card-content>
      <form [formGroup]='loginForm' (ngSubmit)="login()" [hidden]='!showLoginForm'>
        <section class='form-container'>
          <mat-form-field>
            <input id="txtUserName" matInput formControlName='userName' type="text" placeholder='{{userNameCaption}}'>
          </mat-form-field>
          <mat-form-field>
            <input id="txtPassword" matInput formControlName='password' type="password"
              placeholder='{{passwordCaption}}'>
          </mat-form-field>
        </section>
        <section [hidden]='!showLanguage' class="language-section">
          <mat-form-field>
            <mat-select [(value)]="selectedLanguageID" (valueChange)="languageChange($event)">
              <mat-option *ngFor="let language of languages" [value]="language.id">{{ language.caption }}</mat-option>
            </mat-select>
          </mat-form-field>
  
          <section [hidden]='showLoginForm'>
            <button id="btnContinue" mat-raised-button color='primary' (click)="goToMainPage()">{{continue}}</button>
          </section>
        </section>
        <section class="login-button-container">
          <button id="btnLogin" [disabled]='!loginForm.valid' mat-raised-button
            color='primary'>{{signinCaption}}</button>
        </section>
      </form>

      <section [hidden]='showLoginForm || showLanguage'>
        <div>
          {{serverError}}
        </div>
      </section>

    </mat-card-content>

  </mat-card>

</div>