/* mat-card {
  margin-top: 20px;
} */

.drop-down-container{
  width: 50%;
}

section{
  margin: 20px;
}

mat-form-field {
  width: 100%;
  margin: 10px;
}

.form-container {
  margin-bottom: 0;
}

.language-section {
  margin-top: 0;
}

.login-container {
  margin: auto;
  width: 400px;
}

.login-button-container {
  text-align: right;
}

[dir="rtl"] .login-button-container {
  text-align: left;
}