/* You can add global styles to this file, and also import other style files */
/* @import "~bootstrap/dist/css/bootstrap.min.css"; */

html, body { height: 100%; }
body { margin: 0; font-family: Lato-Regular, "Helvetica Neue", sans-serif; }

.height-100 {
    height: 100%;
}

.mat-menu-panel {
    width: 250px;
}

tr > th {
    font-family: Lato-Regular;
    font-size: 15px !important;
    color: #616161 !important;
    font-weight: bold !important;
}